.plan {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.item {
  background-color: #f3f6f9;
  width: 360px;
  border: 1px solid #e4e9f0;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 200px;
  width: 215px;
  margin: 75px 0 0 75px;
}

.label {
  text-transform: uppercase;
}

.price {
  margin: 30px 0 30px 0;
}

.button {
  margin-bottom: 50px;
  padding: 8px 24px;
  border: 0;
  border-radius: 2px;
  background-color: #e4e9f0;
}
